<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" lang="en-us" />
<link href="/static/styles/bootstrap.min.css" rel="stylesheet" type="text/css"></link>
<link href="/static/styles/font-awesome.min.css" rel="stylesheet" type="text/css"></link>
<script src="/static/javascript/jquery-1.9.0.min.js"></script>

</head>
<body>
	<header class="container">
		<nav class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="/">My tasks</a>
			<ul class="nav pull-right">
  				<li>
    				<a href="/_ah/admin">Admin</a>
  				</li>
			</ul>
			</div>
		</nav>
	</header>
	<section class="container">