#parse ("/WEB-INF/partial/header.vm")
	<div class="container">
		#foreach( $task in $tasks )
			#parse ("/WEB-INF/partial/task.vm") 
		#end
	</div>
	<br/>
	<br/>
	
	<form action="/task/create" method="post" class="form-inline well">
		<input type="text" name="task.title" class="span3" placeholder="Title"/>
		<textarea name="task.description" rows="1" class="span7" placeholder="Description"></textarea>
		<input type="submit" value="Create" class="btn span2"/>
	</form>
#parse ("/WEB-INF/partial/footer.vm")